.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  text-align: center;

  @media only screen and (max-width: $bp-large) {
    text-align: right;
    grid-row: 1 / 2;
  }
}

.nav-btn {
  margin-top: 4rem;
  outline: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
  width: 4.5rem;
  height: 3px;

  &::before,
  &::after {
    content: "";
    background-color: #fff;
    width: 4.5rem;
    height: 3px;
    display: block;
  }

  &::before {
    transform: translateY(-1.4rem);
  }

  &::after {
    transform: translateY(1.1rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-right: 3rem;
    margin-top: 2.8rem;
  }
}
